<div class="card mb-4" [routerLink]="['/inventory/', card.id]" >
  <div class="card-img-wrapper">
    <img class="card-img-top" height="120" [src]="card.photo" alt="{{card.name}}" srcset="">
    <ul class="list-inline card-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary" (click)="deleteItem()"><i class="fa fa-trash"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-cube"></i>
      {{card.name}}
    </h6>
    <p class="card-text text-muted text-center">
      {{card.price | currency: "INR"}}
    </p>
  </div>
</div>